# Ignore the uploaded folders
logs/
Output/

# Ignore the project uploaded folders
.vs/
x64/
Debug/
.vscode/
Release/

# Ignore the uploaded files
-p
~*
*~
*.db
*.suo
*.swp
*.swo
*.exe
*.out
*.pdb
*.pch
*.ilk
*.log
*.err
*.out
*.obj
*.idb
*.TMP
.*.swo
*.iobj
*.ipdb
*.tlog
*.opendb
