# Ignore the uploaded folders
Out/
logs/
Outs/
Output/

# Ignore the project uploaded folders
.vs/
x64/
.git/
Debug/
.vscode/
Release/

# Ignore the uploaded files
-p
~*
*~
core
*.db
*.suo
*.swp
*.swo
*.exe
*.out
*.pdb
*.pch
*.ilk
*.log
*.err
*.out
*.obj
*.idb
*.TMP
core*
.*.swo
*.iobj
*.ipdb
*.tlog
*.opendb
